@media (min-width: 260px) and (max-width: 299px) {
  .add-to-with-counter-modal {
    .modal-content {
      width: 100%;
    }

    .green-modal-buttons {
      font-size: 12px;
      width: 100%;
    }
  }

  .edit-contents-modal {
    .modal-body {
      width: 100%;
      padding: 0 !important;
    }

    td {
      padding: 6px 2px;
      font-size: 9px;
    }

    .button-container {
      display: grid;
    }

    .table-with-border {
      padding: 2px !important;
    }

    .empty-selection-button {
      font-size: 10px;
    }
  }

  .tabs-padding {
    display: grid !important;
    padding: 20px 0px;
    gap: 25px;
    text-align: center;
    justify-content: center !important;
    align-items: center !important;
  }

  .last-images {
    height: 50px !important;
  }

  .navbar-logo-auth {
    height: 55px;
    width: 190px !important;
  }

  .order-added {
    font-size: 11px;
    text-align: center;
  }

  .cart {
    padding: 6px;
    background-color: #c41230;
    border-radius: 30px;
    border: 1px solid white;
    cursor: pointer;
  }

  .cart-dropdown {
    width: 190px !important;
    right: -5;
    top: 42px;
    left: auto;
    font-size: 12px;
  }

  .cart-image {
    height: 20px;
    width: 20px;
    border-radius: 0px;
  }

  .internal-cart {
    border-radius: 30px;
    height: 33px;
    width: 33px;
  }

  .auth-area-p {
    font-size: 13px;
  }

  .hamburger {
    width: 75px;
    font-size: 11px;
  }

  .container {
    padding: 0 !important;
  }

  .internal-navbar-search {
    width: 100%;
    height: 30px;
    padding: 6px 15px;
    margin: 10px;
  }

  .text-overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 90%;
  }

  .search-icon {
    margin: 1px 8px;
  }

  .navbar-search {
    width: 100%;
    height: 40px;
    padding: 6px 15px;
    margin: 10px;
  }

  .strip-content {
    font-size: 10px;
  }

  .count {
    font-size: 7px;
    right: 27px;
    border-radius: 10px;
    padding: 3px;
  }

  .navbar-logo {
    height: 45px;
    width: 175px !important;
  }

  .breadcrumb-position {
    font-size: 7px;
    font-weight: 500px;
    padding: 6px 0px !important;
    border-bottom: 1px solid black;

    ol {
      margin-bottom: 0px !important;
    }
  }

  .main-container {
    margin: 0 14px !important;
  }

  .main-container-details {
    margin: 0 14px !important;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .add-to-with-counter-modal {
    .modal-content {
      width: 100%;
    }

    .green-modal-buttons {
      font-size: 12px;
      width: 100%;
    }
  }

  .manage-account-button {
    font-size: 9px;
    border-radius: 40px;
  }

  .edit-contents-modal {
    .modal-body {
      width: 100%;
      padding: 0 !important;
    }

    td {
      padding: 8px 4px;
      font-size: 11px;
    }

    .button-container {
      display: grid;
    }

    .table-with-border {
      padding: 10px !important;
    }

    .empty-selection-button {
      font-size: 10px;
    }
  }

  .slider-background {
    padding-top: 60px !important;
  }

  .tabs-padding {
    display: grid !important;
    padding: 20px 0px;
    gap: 25px;
    text-align: center;
    justify-content: center !important;
    align-items: center !important;
  }

  .last-images {
    height: 50px !important;
  }

  .navbar-logo-auth {
    /* height: 55px; */
    width: 190px !important;
  }

  .order-added {
    font-size: 11px;
    text-align: center;
  }

  .cart {
    padding: 6px;
    background-color: #c41230;
    border-radius: 30px;
    border: 1px solid white;
    cursor: pointer;
  }

  .cart-dropdown {
    width: 190px !important;
    right: -5;
    top: 42px;
    left: auto;
    font-size: 12px;
  }

  .cart-image {
    height: 20px;
    width: 20px;
    border-radius: 0px;
  }

  .internal-cart {
    border-radius: 30px;
    height: 33px;
    width: 33px;
  }

  .auth-area-p {
    font-size: 13px;
  }

  .hamburger {
    width: 75px;
    font-size: 11px;
  }

  .container {
    padding: 0 !important;
  }

  .internal-navbar-search {
    width: 100%;
    height: 30px;
    padding: 6px 15px;
    margin: 10px;
  }

  .text-overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 90%;
  }

  .search-icon {
    margin: 1px 8px;
  }

  .navbar-search {
    width: 100%;
    height: 40px;
    padding: 6px 15px;
    margin: 10px;
  }

  .strip-content {
    font-size: 10px;
  }

  .count {
    font-size: 7px;
    right: 27px;
    border-radius: 10px;
    padding: 3px;
  }

  .navbar-logo {
    height: 45px;
    width: 175px !important;
  }

  .navbar-logo-auth {
    height: 45px;
    width: 175px !important;
  }

  .breadcrumb-position {
    font-size: 7px;
    font-weight: 500px;
    padding: 6px 0px !important;
    border-bottom: 1px solid black;

    ol {
      margin-bottom: 0px !important;
    }
  }

  .main-container {
    margin: 0 14px !important;
  }

  .main-container-details {
    margin: 0 14px !important;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .edit-contents-modal {
    .modal-body {
      width: 100%;
      padding: 0 !important;
      margin: 15px;
    }

    @media (min-width: 450px) and (max-width: 800px) {
      .edit-contents-modal {
        width: 50%;

        .modal-body {
          width: 50%;
          padding: 0 !important;
        }
      }
    }
    .table-with-border {
      padding: 45px !important;
    }

    td {
      padding: 8px 4px;
      font-size: 11px;
    }

    .button-container {
      display: grid;
    }
  }

  .slider-background {
    padding-top: 80px !important;
  }

  .main-container {
    margin: 0 14px !important;
  }

  .main-container-details {
    margin: 0 14px !important;
  }

  .tabs-padding {
    display: grid !important;
    padding: 20px 0px;
    gap: 20px;
    text-align: center;
    justify-content: center !important;
    align-items: center !important;
  }

  .hamburger {
    gap: 10px;
    width: 110px;
    font-size: 15px;
  }

  .navbar-logo-auth {
    height: 70px;
    width: 250px !important;
  }

  .search-icon {
    margin: 2px 12px;
  }

  .navbar-search {
    width: 100%;
    height: 42px;
    padding: 6px 15px;
    margin: 10px;
  }

  .strip-content {
    font-size: 11px;
  }

  .count {
    font-size: 8px;
    right: 38px;
    border-radius: 50px;
  }

  .cart-dropdown {
    width: 190px !important;
    right: 0;
    top: 53px;
    left: auto;
    font-size: 12px;
  }

  .navbar-logo {
    height: 55px;
    width: 220px !important;
  }

  .breadcrumb-position {
    font-size: 13px;
    font-weight: 500px;
    padding: 6px 0px !important;
    border-bottom: 1px solid black;

    ol {
      margin-bottom: 0px !important;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .slider-background {
    padding-top: 80px !important;
  }

  .edit-contents-modal {
    .cancel-button {
      font-size: 12px;
      padding: 7px 36px;
    }

    .button-container {
      display: flex;
      margin: auto;
    }

    .add-to-order-button {
      font-size: 13px;
      padding: 7px 36px;
    }

    .table-with-border {
      padding: 30px !important;
    }
  }

  .main-container {
    max-width: 1050px !important;
    margin: auto;
  }

  .main-container-details {
    max-width: 1000px !important;
    margin: auto;
  }

  .product-image {
    width: 500px !important;
    height: 350px !important;
  }

  .breadcrumb-position {
    font-size: 12px;
    font-weight: 500px;
    padding: 8px 0px !important;
    border-bottom: 1px solid black;

    ol {
      margin-bottom: 0px !important;
    }
  }

  .tabs-padding {
    padding: 15px 0px;
  }

  .navbar-tab {
    padding: 6px 20px;
    font-size: 16px;
    font-weight: 500;
  }

  .navbar-search::placeholder {
    font-size: 14px !important;
    font-weight: 600;
    padding-top: 40px !important;
    padding-left: 0px;
  }

  .internal-navbar-search {
    width: 130px;
    padding-left: 40px;
    font-size: 14px;
    font-weight: 500;
    margin: 2px 30px;
  }

  .internal-navbar-search-icon {
    /* margin-left: 30px; */
  }

  .internal-navbar-search::placeholder {
    padding-left: 2px !important;
  }

  .banner-overlay-heading1 {
    font-size: 29px !important;
    font-weight: 500;
  }

  .banner-overlay-text {
    font-size: 10px !important;
    font-weight: 500;
  }

  .text-overlay {
    max-width: 280px;
    top: 10%;
    left: 11%;
    font-size: 28px;
  }

  .navbar-logo {
    height: 55px;
    width: 210px !important;
  }

  .navbar-logo-auth {
    height: 55px;
    width: 230px !important;
  }

  .navbar-search {
    width: 240px;
    padding-left: 35px;
    margin: 10px;
  }

  .search-icon {
    margin-left: 10px;
  }

  .nav-link.active::after {
    top: 34px !important;
    height: 28px;
  }

  .count {
    font-size: 8px;
    right: 38px;
    border-radius: 30px;
  }

  .strip-content {
    font-size: 11px !important;
    font-weight: 600;
    padding-top: 3px;
  }

  .shop-tab {
    p {
      font-size: 14px;
      font-weight: 60px;
    }
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .slider-background {
    padding-top: 80px !important;
  }

  .edit-contents-modal {
    .cancel-button {
      font-size: 12px;
      padding: 7px 36px;
    }

    .button-container {
      display: flex;
      margin: auto;
    }

    .add-to-order-button {
      font-size: 13px;
      padding: 7px 36px;
    }

    .table-with-border {
      padding: 30px !important;
    }
  }

  .main-container {
    max-width: 1200px !important;
    margin: auto;
  }

  .main-container-details {
    max-width: 1100px !important;
    margin: auto;
  }

  .product-image {
    width: 500px !important;
    height: 390px !important;
  }

  .product-buttons-tab {
    font-size: 12px !important;
  }

  .breadcrumb-position {
    font-size: 13px;
    font-weight: 500px;
    padding: 8px 0px !important;
    border-bottom: 1px solid black;

    ol {
      margin-bottom: 0px !important;
    }
  }

  .tabs-padding {
    padding: 15px 0px;
    font-size: 12px;
  }

  .internal-navbar-search {
    width: 140px;
    padding: 6px 0px;
    padding-left: 40px;
    font-size: 18px;
    font-weight: 500;
    margin: 0px 15px;
  }

  .internal-navbar-search-icon {
    /* margin: 1px 13px; */
  }

  .internal-navbar-search::placeholder {
    font-size: 17px !important;
    font-weight: 600;
    margin: 8px 10px 0px 0px !important;
    padding-left: 0px;
  }

  .banner-overlay-heading1 {
    font-size: 42px !important;
    font-weight: 500;
  }

  .banner-overlay-text {
    font-size: 16px !important;
    font-weight: 500;
  }

  .text-overlay {
    max-width: 450px;
    top: 10%;
    left: 11%;
    font-size: 24px;
  }

  .navbar-logo {
    height: 60px;
    width: 230px !important;
  }

  .navbar-logo-auth {
    height: 60px;
    width: 230px !important;
  }

  .navbar-search {
    width: 240px;
    padding-left: 40px;
    margin: 10px;
  }

  .search-icon {
    margin: 1px 12px;
  }

  .navbar-search::placeholder {
    font-size: 15px !important;
    font-weight: 600;
    margin: 8px 10px 0px 0px !important;
    padding-left: 0px;
  }

  .navbar-tab {
    padding: 8px 25px;
    font-size: 17px;
    font-weight: 500;
  }

  .nav-link.active::after {
    top: 40px !important;
    height: 28px;
  }

  .count {
    font-size: 8px;
    right: 38px;
    border-radius: 30px;
  }

  .strip-content {
    font-size: 12px !important;
    font-size: 12px !important;
    font-weight: 500;
    padding-top: 4px;
  }

  .shop-tab {
    p {
      font-size: 14px;
      font-weight: 60px;
    }
  }

  .cart-dropdown {
    width: 260px !important;
    right: 0;
    top: 53px;
    left: auto;
    font-size: 13px;
    font-weight: 600;
    margin: 5px 10px;
  }

  .order-added {
    font-size: 11px;
    text-align: center;
  }
}

@media (min-width: 1600px) {
  .auth-section-name {
    font-size: 16px;
  }

  .auth-area-p {
    font-size: 13px;
  }

  .edit-contents-modal {
    .cancel-button {
      font-size: 12px;
      padding: 7px 36px;
    }

    .button-container {
      display: flex;
      margin: auto;
    }

    .add-to-order-button {
      font-size: 13px;
      padding: 7px 36px;
    }

    .table-with-border {
      padding: 30px !important;
    }
  }

  .main-container {
    max-width: 1400px !important;
    margin: auto;
  }

  .main-container-details {
    max-width: 1550px !important;
    margin: auto;
  }

  .product-buttons-tab {
    font-weight: 600;
    font-size: 15px;
  }

  .product-title {
    font-size: 40px;
  }

  .slider-background {
    padding: 80px 0px !important;
  }

  .product-image {
    width: 600px !important;
    height: 500px !important;
  }

  .breadcrumb-position {
    font-size: 14px;
    font-weight: 500px;
    padding: 8px 0px !important;
    border-bottom: 1px solid black;

    ol {
      margin-bottom: 0px !important;
    }
  }

  .tabs-padding {
    padding: 20px 0px;
    font-size: 15px;
  }

  .internal-navbar-search {
    width: 170px;
    padding: 10px 21px 10px 50px;
    font-size: 20px;
    font-weight: 500;
  }

  .internal-navbar-search-details {
    width: 370px;
    padding: 10px 21px 10px 50px;
    font-size: 20px;
    font-weight: 500;
  }

  .internal-navbar-search-icon {
    width: 30px;
    height: 100px;
    margin: 1px;
  }

  .internal-navbar-search::placeholder {
    font-size: 22px !important;
    font-weight: 600;
    margin: 100px 10px 0px 0px !important;
    padding-left: 0px;
  }

  .banner-overlay-heading1 {
    font-size: 48px !important;
    font-weight: 500;
  }

  .banner-overlay-text {
    font-size: 18px !important;
    font-weight: 500;
  }

  .text-overlay {
    max-width: 450px;
    top: 10%;
    left: 23%;
    font-size: 24px;
  }

  .navbar-logo {
    height: 70px;
    width: 320px !important;
  }

  .detail-page-hover {
    transition: background-color 0.3s ease;
    padding: 20px !important;
  }

  .navbar-logo-auth {
    height: 72px;
  }

  .navbar-search {
    width: 340px;
    height: 45px;
    padding-left: 45px;
    margin: 10px;
    font-size: 22px;
  }

  .search-icon {
    margin: 1px 16px;
  }

  .navbar-search::placeholder {
    font-size: 18px !important;
    font-weight: 600;
    padding-left: 0px;
  }

  .navbar-tab {
    padding: 9px 35px;
    font-size: 21px;
    font-weight: 500;
  }

  .nav-link.active::after {
    top: 50px !important;
    height: 28px;
  }

  .count {
    font-size: 10px;
    right: 47px;
    border-radius: 30px;
  }

  .strip-content {
    font-size: 13px !important;
    font-weight: 600;
    padding-top: 3px;
  }

  .shop-tab {
    p {
      padding: 6px 0px;
      font-size: 17px;
      font-weight: 300;
    }
  }

  .cart-dropdown {
    width: 230px !important;
    right: 0;
    top: 53px;
    left: auto;
    font-size: 15px;
    font-weight: 600;
    margin: 5px 10px;
    justify-content: center !important;
  }

  .order-added {
    font-size: 12px !important;
    text-align: center;
  }

  .cart {
    padding: 14px;
    background-color: #c41230;
    border-radius: 30px;
    border: 1px solid white;
    cursor: pointer;
  }

  .cart-image {
    width: 30px;
    border-radius: 0px;
  }

  .internal-cart {
    border-radius: 30px;
    height: 55px;
    width: 55px;
  }
}
