/* //////// */
@import "variables";
@import "mixins";

@media (min-width: 312px) and (max-width: 768px) {
  .navbar {
    padding: 6px 15px;
  }

  .search-icon {
    margin: 1px 8px;
  }

  .navbar-search {
    width: 100%;
    height: 40px;
    padding: 6px 15px;
    margin: 10px;
  }

  .cart {
    padding: 7px;
  }

  .off-canvas {
    width: 350px !important;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .content-container-search-results {
    padding: 0px 0px;
  }

  .navbar-search {
    width: 200px !important;
  }

  .hamburger {
    display: none;
  }

  .navbar {
    font-size: 12px;
    padding: 10px 30px;
  }

  .navbar__tab__content {
    font-size: 11px;
    padding: 0px 50px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .internal-tab {
    font-size: 16px;
    padding: 7px 25px;
  }

  .search-results {
    font: bolder;
    font-size: 40px;
    margin: 20px;
  }

  .nav-link.active::after {
    top: 47px !important;
    height: 23px;
  }

  .navbar-search {
    width: 220px !important;
  }

  .hamburger {
    display: none;
  }

  .order-details-product-image2 {
    width: 250px !important;
    height: 200px !important;
    margin-top: 5px;
  }

  .points-container {
    .points-info-table {
      width: 550px;
      border-collapse: collapse;
    }
  }

  .point-button {
    background-color: #c41230;
    border-radius: 30px;
    font-size: 14px;
    border: none;
  }

  .product-table {
    font-size: 20px;
    width: 230px;
    margin: 0px 1px;
  }

  .product-nested-description {
    font-size: 11px;
    font-weight: bold;
  }

  .slider-background {
    height: 80vh;
    margin-top: 30px;
    padding-top: 50px;
  }

  .product-image {
    width: 440px !important;
    height: 300px !important;
  }

  .product-detail-image {
    width: 350px !important;
    height: 300px !important;
  }

  .small-icons {
    width: 13px;
  }

  .cart-image {
    width: 20px;
    border-radius: 0px;
  }

  .count {
    font-size: 7px;
    right: 38px;
    border-radius: 30px;
  }

  .cart-dropdown {
    width: 190px !important;
    right: 0;
    left: auto;
    font-size: 12px;
  }

  .order-added {
    font-size: 10px;
    text-align: center;
  }

  .dropdown-checkout-button {
    padding: 2px 10px;
    font-size: 13px;
  }

  .breadcrumb-position {
    font-size: 12px;
    padding: 10px 0px 0px 100px;
    border-bottom: 1px solid black;
  }

  .navbar {
    font-size: 18px;
    padding: 10px 45px;
  }

  .navbar__tab__content {
    font-size: 12px;
    padding: 0px 130px;
  }

  .content-container-search-results {
    padding: 0px 100px;
  }

  .content-container {
    padding: 0px 90px;
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .internal-tab {
    font-size: 20px;
    padding: 7px 30px;
  }

  .search-results {
    font: bolder;
    font-size: 40px;
    margin: 20px;
  }

  .nav-link.active::after {
    top: 46px !important;
    height: 26px;
  }
  .navbar-search {
    width: 300px !important;
    height: 40px;
  }

  .hamburger {
    display: none;
  }

  .order-details-product-image2 {
    width: 350px !important;
    height: 250px !important;
    margin-top: 5px;
  }

  .points-container {
    .points-info-table {
      width: 700px;
      font-size: 17px;
      border-collapse: collapse;
    }
    td {
      font-size: 16px;
      padding: 5px;
    }
  }

  .point-button {
    background-color: #c41230;
    border-radius: 30px;
    font-size: 19px;
    border: none;
  }

  .text-small {
    font-size: 12px;
  }

  .each-product-row {
    padding: 2px !important;
    font-size: 16px !important;
  }

  .product-table {
    width: 330px;
    margin: 0px 1px;
  }

  .order-details-product-image {
    width: 350px !important;
    height: 250px !important;
    margin-top: 5px;
  }

  .product-nested-description {
    font-size: 13px;
    font-weight: bold;
  }

  .slider-background {
    height: 68vh;
    margin-top: 30px;
    padding-top: 70px;
  }

  .product-image {
    width: 540px !important;
    height: 400px !important;
  }

  .product-detail-image {
    width: 500px !important;
    height: 370px !important;
  }

  .small-icons {
    width: 16px;
  }

  .count {
    font-size: 10px;
    right: 40px;
    border-radius: 30px;
  }

  .cart-dropdown {
    padding: 40px;
    width: 250px !important;
    right: 0;
    left: auto;
    font-size: 16px;
    font-weight: 500;
  }

  .dropdown-checkout-button {
    padding: 3px 12px;
    font-size: 16px;
  }

  .order-added {
    font-size: 14px;
    text-align: center;
  }

  .breadcrumb-position {
    font-size: 12px;
    padding: 10px 130px -0px 130px;
    border-bottom: 1px solid black;
  }

  .navbar {
    font-size: 20px;
    padding: 10px 30px;
  }

  .content-container-search-results {
    padding: 10px 150px;
  }

  .content-container {
    padding: 10px 82px;
  }

  .navbar__tab__content {
    font-size: 14px;
    padding: 0px 90px;
  }
}

@media (min-width: 1600px) and (max-width: 2560px) {
  .content-container-search-results {
    padding: 0px 250px;
  }

  .pointsAndShoppingTitle {
    font-size: 65px;
  }

  .LongUserName {
    font-size: 45px;
  }

  .order-details-left-side {
    padding: 3px 13px;
  }

  .authenticated-navbar-portion {
    font-size: 20px;
  }

  .setting-icons {
    width: 15px;
  }

  .quantity-table {
    width: 60%;
  }

  .points-value {
    font-size: 20px;
  }

  .points-info-table {
    margin-top: 16px;
  }

  .manage-account-button {
    font-size: 22px;
    border-radius: 40px;
  }

  .green-buttons-container {
    gap: 300px;
  }

  .cancel-button {
    padding: 8px 36px;
    font-size: 25px;
    border-radius: 40px;
  }

  .green-modal-buttons {
    font-size: 23px;
    width: 100%;
  }

  .modal-content {
    width: 130%;
  }

  .points-button {
    height: 45px;
    width: 165px;
    font-size: 22px;
  }

  .edit-contents-button {
    padding: 8px 36px;
    font-size: 25px;
    border-radius: 40px;
  }

  .Additional-Items {
    font-size: 60px !important;
    margin: 30px;
    margin-top: 70px;
  }

  .Based-on-your {
    font-size: 30px !important;
    margin: 30px;
    margin-bottom: 60px;
  }

  .product-price {
    font-size: 30px;
  }

  .add-to-order-button {
    padding: 12px 46px;
    font-size: 25px;
  }

  .quantity-selector {
    padding: 8px 13px 0px 13px !important;
    font-size: 19px !important;
  }

  .product-Quantity {
    font-weight: 600;
    font-size: 25px !important;
  }

  .in-stock-button {
    height: 45px;
    width: 165px;
    font-size: 22px;
  }

  .products-buttons {
    height: 63px;
  }

  .product-title {
    font-size: 62px;
  }

  .tabs-padding {
    padding-left: 250px;
    padding-right: 250px;
  }

  .nav-link.active::after {
    top: 60px !important;
    height: 40px;
  }

  .google-reviews img.re {
    width: 200px;
  }

  .navbar-search {
    width: 400px !important;
    height: 50px;
  }

  .search-icon {
    margin: 0px 16px 0px 6px !important;
  }

  .form-control::placeholder {
    font-size: 17px;
    margin: 22px;
  }

  .hamburger {
    display: none;
  }

  .navbar-tab {
    padding: 12px 30px;
  }

  .order-details-product {
    width: 35px;
    margin-top: 10px;
    margin-right: 12px;
  }

  .defined-content {
    font-size: 25px !important;
  }

  .each-product-row {
    padding: 4px !important;
    font-size: 25px !important;
  }

  .product-table {
    width: 500px;
    margin: 0px 45px;
  }

  .order-details-product-image {
    width: 550px !important;
    height: 400px !important;
    margin-top: 5px;
    margin: 20px !important;
  }

  .order-details-product-image2 {
    width: 600px !important;
    height: 400px !important;
    margin-top: 5px;
  }

  .text-small {
    font-size: 20px;
  }

  .text-small-above {
    font-size: 270px !important;
  }

  .profile-icon {
    width: 60px;
  }

  .title-points-cart {
    font-size: 30px;
    font-weight: 200px;
    margin-top: 15px;
  }

  .points-container {
    .points-info-table {
      width: 1100px;
      font-size: 23px !important;
      border-collapse: collapse;
    }
    td {
      font-size: 25px;
      padding: 5px;
      font-weight: bold;
    }
  }

  .point-button {
    background-color: #c41230;
    border-radius: 30px;
    font-size: 25px;
    border: none;
  }

  .points-value {
    font-size: 25px;
  }

  .product-nested-description {
    font-size: 20px;
  }

  .slider-background {
    height: 56vh;
    margin-top: 40px;
    padding-top: 20px;
  }

  .product-buttons-tab {
    font-size: 18px;
  }

  .product-image {
    width: 640px !important;
    height: 500px !important;
  }

  .product-detail-image {
    width: 700px !important;
    height: 600px !important;
  }

  .quantity-selector {
    padding: 1px 6px;
    font-size: 27px;
  }

  .product-Quantity {
    font-size: 30px;
  }

  .tabs-padding {
    padding-left: 280px;
    padding-right: 280px;
  }

  .product-nested-titles {
    font-weight: 600;
    font-size: 22px;
    margin: 0px 10px;
  }

  .small-icons {
    width: 24px;
  }

  .product-nested-titles {
    font-weight: 700;
    font-size: 26px;
  }

  .product-nested-description {
    font-size: 20px;
    font-weight: 600;
  }

  .cart-image {
    width: 40px;
    border-radius: 0px;
  }

  .count {
    font-size: 12px;
    right: 55px;
    border-radius: 30px;
  }

  .cart-dropdown {
    align-items: center;
    padding: 60px;
    width: 350px !important;
    right: 0;
    left: auto;
    font-size: 23px;
    font-weight: 600;
  }

  .dropdown-checkout-button {
    padding: 4px 20px;
    font-size: 23px;
  }

  .order-added {
    font-size: 18px;
    text-align: center;
  }

  .breadcrumb-position {
    padding: 200px;
    font-size: 19px;
    padding: 20px 200px 0px 220px;
    border-bottom: 1px solid black;
  }

  .navbar {
    font-size: 25px;
    padding: 10px 0px;
  }

  .tabs {
    border: none;
    gap: 50px;
  }

  .search-results {
    font: bolder;
    font-size: 70px;
    padding: 30px 0px;
  }

  .refine-small-text {
    padding: 20px 0px;
    font-size: 20px;
  }

  .internal-tab {
    font-size: 34px;
    padding: 12px 55px;
  }

  .tab-content-products-description {
    font-size: 20px !important;
  }

  .product-image1 {
    width: 220px !important;
    height: 220px !important;
  }

  .navbar__tab__content {
    font-size: 20px;
    padding: 10px 0px;
    padding: 0px 230px;
  }
}

.banner {
  background-color: primary-bg-color;
  padding: 100px;
  gap: 70px;

  @media (max-width: 768px) {
    padding: 50px 20px;
    gap: 30px;
  }
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 70%;
  margin: 0 auto;

  @media (min-width: 769px) and (max-width: 1320px) {
    font-size: 12px;
    width: 75%;
  }
}

.product-Quantity {
  font-size: 18px;
}

.product-buttons-tab {
  font-weight: 600;
  font-size: 11px;

  @media (min-width: 769px) and (max-width: 1320px) {
    font-size: 9px;
  }
  @media (min-width: 1320px) and (max-width: 1600px) {
    font-size: 11px;
  }

  @media (min-width: 1600px) {
    font-size: 25px;
  }
}

.navbar-logo {
  @media (min-width: 426px) and (max-width: 768px) {
    height: 65px;
    width: 240px !important;
  }

  @media (min-width: 769px) and (max-width: 1320px) {
    height: 43px;
    width: 170px !important;
  }

  @media (min-width: 1320px) and (max-width: 1600px) {
    height: 55px;
    width: 230px !important;
  }

  @media (min-width: 1600px) {
    height: 95px;
    width: 430px !important;
  }
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  @media (min-width: 1441px) {
    max-width: 1450px;
  }
  @media (min-width: 2000px) {
    max-width: 1800px;
  }
}

.homepage-banner {
  background-image: url("/assets/images/Asset 4.png");
  background-size: cover;
  background-position: start;
  position: relative;
  opacity: 2.9;

  @media (max-width: 768px) {
    background-position: center;
  }

  .text-overlay {
    max-width: 350px;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: start;
    display: inline-block;

    @media (max-width: 768px) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      max-width: 90%;
    }
    @media (min-width: 769px) and (max-width: 1320px) {
      max-width: 300px;
    }
    @media (min-width: 1320px) and (max-width: 1600px) {
      max-width: 350px;
    }
    @media (min-width: 1600px) {
      max-width: 600px;
    }
  }
}

.banner-overlay-heading1 {
  font-size: 35px;
  font-weight: 500;

  @media (min-width: 769px) and (max-width: 1320px) {
    font-size: 24px;
  }
  @media (min-width: 1320px) and (max-width: 1600px) {
    font-size: 34px;
  }

  @media (min-width: 1600px) {
    font-size: 65px;
  }
}

.banner-overlay-text {
  font-size: 14px;

  @media (min-width: 769px) and (max-width: 1320px) {
    font-size: 12px;
  }
  @media (min-width: 1320px) and (max-width: 1600px) {
    font-size: 14px;
  }
  @media (min-width: 1600px) {
    font-size: 29px;
  }
}

.hide-on-large-screen {
  display: block;

  @media (min-width: 769px) {
    display: none !important;
  }
}

.hide-on-small-screen {
  display: block;

  @media (max-width: 768px) {
    display: none !important;
  }
}

.internal-navbar-search {
  width: 120px;
  height: 40px;

  @media (max-width: 768px) {
    width: 100%;
    height: 30px;
    padding: 6px 15px;
    margin: 10px;
  }

  @media (min-width: 769px) and (max-width: 1320px) {
    width: 120px !important;
  }

  @media (min-width: 1600px) {
    height: 54px;
    width: 350px !important;
  }
}

.internal-tabs-container {
  /* gap: 12px; */

  /* @media (min-width: 1440px) and (max-width: 1600px) {
    gap: 62px !important;
  } */

  /* @media (min-width: 1600px) {
    gap: 262px !important;
  } */
}

.last-images {
  height: 90px;

  @media (min-width: 1024px) and (max-width: 1439px) {
    height: 93px;
  }

  @media (min-width: 1440px) and (max-width: 1600px) {
    height: 110px;
  }

  @media (min-width: 1600px) {
    height: 180px;
  }
}

.footer-padding {
  @media (min-width: 426px) and (max-width: 768px) {
    padding: 6px 15px !important;
  }

  @media (min-width: 769px) and (max-width: 1320px) {
    padding: 20px 50px !important;
  }
  @media (min-width: 1320px) and (max-width: 1600px) {
    padding: 25px 160px !important;
  }

  @media (min-width: 1600px) {
    font-size: 14px;
    padding: 25px 380px !important;
  }
}

@media (min-width: 769px) and (max-width: 1320px) {
  .navbar__tab__content {
    font-size: 11px;
    /* padding: 0px 50px; */
  }
}
@media (min-width: 1320px) and (max-width: 1600px) {
  .navbar__tab__content {
    font-size: 14px;
    /* padding: 0px 90px; */
  }
}

@media (min-width: 1600px) {
  .navbar__tab__content {
    font-size: 22px;
    padding: 0px 400px;
  }
}
