@import "variables";
@import "mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  @font-face {
    font-family: "Open Sans";
    src: url("/assets/css//fonts/Open_Sans/static/OpenSans-Regular.ttf")
      format("truetype");
    font-weight: 400;
  }
  body {
    font-family: "Open Sans", sans-serif;
    background-color: $primary-bg-color;
    font-size: 16px;
  }

  li {
    list-style: none;
  }
  .relative {
    position: relative;
  }
  .absolute {
    position: absolute;
  }
  .w-25 {
    width: 25%;
  }
  .w-30 {
    width: 30%;
  }
  .w-50 {
    width: 50%;
  }
  .w-70 {
    width: 70%;
  }
  .w-100 {
    width: 100%;
  }
}

/////////////////

.banner {
  background-color: primary-bg-color;
  padding: 100px;
  gap: 70px;

  @media (max-width: 768px) {
    padding: 50px 20px;
    gap: 30px;
  }
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

p {
  margin-bottom: 0 !important;
}

.flex-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-border {
  border: 2px solid #b7b7b7;
}

.navbar {
  background-image: url("/assets/images/Asset 5.png");
  background-size: cover;
  background-position: center;
}

.hamburger {
  background-color: $button-green;
  border-radius: 120px;
  padding: 7px 12px;
  color: white;
  font-size: 12px;
  gap: 6px;
}

.text-bold {
  font-weight: bold !important;
}

.text-bolder {
  font-weight: bolder !important;
}

.text-boldest {
  font-weight: 900 !important ;
}

.text-black {
  color: black;
}

.navbar-tab {
  padding: 8px 20px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid white;
    background-color: #c41230;
    color: black;
  }

  &:active {
    border: 1px solid white;
    background-color: va;
    color: black;
  }

  @media (min-width: 2000px) {
    padding: 12px 30px;
  }
}

.tabs {
  border: transparent;
}

.nav-tabs .nav-link.active {
  background-color: blue($color: #000000);
  &.shop {
    background-color: $clicked-red;
  }
  &.about-us {
    background-color: $button-green;
  }
}

.navbar__tab__content {
  background-image: url("/assets/images/Asset 6.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  color: white;

  p {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.bg-dropdown-bg-green {
  background-color: #062e1d !important;
  color: white;
}

.form-control::placeholder {
  color: $button-green;
  padding-left: 27px;
  font-weight: bold;

  @media (min-width: 2000px) {
    font-size: 17px;
    margin: 22px;
  }
}

.search-icon {
  position: absolute;
  margin-right: 10px;
  left: 10px;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: $button-green;
  cursor: pointer;

  @media (max-width: 768px) {
    margin: 1px 8px;
  }

  @media (min-width: 1600px) {
    margin: 3px 6px;
  }
}

.navbar-search {
  width: 270px;
  height: 35px;

  @media (max-width: 768px) {
    width: 100%;
    height: 30px;
    padding: 6px 15px;
    margin: 10px;
  }

  @media (min-width: 769px) and (max-width: 1320px) {
    width: 200px !important;
  }

  @media (min-width: 2000px) {
    height: 48px;
    width: 350px !important;
  }
}

.cart {
  padding: 12px;
  background-color: $red;
  border-radius: 30px;
  border: 1px solid white;
  cursor: pointer;

  @media (max-width: 768px) {
    padding: 7px;
  }
}

.count {
  font-size: 8px;
  border-radius: 60px;
  padding: 5px;
  background-color: white;
  right: 30px;
  color: red;
}

.underline {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.homepage-banner {
  background-image: url("/assets/images/Asset 4.png");
  background-size: cover;
  background-position: start;
  position: relative;
  opacity: 2.9;

  @media (max-width: 768px) {
    background-position: center;
  }

  .text-overlay {
    max-width: 350px;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: start;
    display: inline-block;

    @media (max-width: 768px) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      max-width: 90%;
    }
    @media (min-width: 769px) and (max-width: 1320px) {
      max-width: 300px;
    }
    @media (min-width: 1320px) and (max-width: 1600px) {
      max-width: 350px;
    }
    @media (min-width: 1600px) {
      max-width: 600px;
    }
  }
}

.banner-overlay-heading1 {
  font-size: 35px;
  font-weight: 500;

  @media (min-width: 769px) and (max-width: 1320px) {
    font-size: 24px;
  }
  @media (min-width: 1320px) and (max-width: 1600px) {
    font-size: 34px;
  }

  @media (min-width: 1600px) {
    font-size: 65px;
  }
}

.banner-overlay-text {
  font-size: 14px;

  @media (min-width: 769px) and (max-width: 1320px) {
    font-size: 12px;
  }
  @media (min-width: 1320px) and (max-width: 1600px) {
    font-size: 14px;
  }
  @media (min-width: 1600px) {
    font-size: 29px;
  }
}

.banner-overlay-button {
  background-color: #c41230;
  border-radius: 20px;
  color: white;
  font-size: 13px;
  padding: 8px 14px;
  margin-top: 10px;
  border: none;

  @media (max-width: 768px) {
    font-size: 12px;
    padding: 6px 12px;
  }
  @media (min-width: 1600px) {
    border-radius: 50px;
    font-size: 18px;
    width: 230px;
    height: 50px;
  }
}

.google-reviews {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 18px 0 22px 0;

  @media (min-width: 769px) and (max-width: 1320px) {
    justify-content: start;
    padding: 10px 0;
  }

  @media (min-width: 1600px) {
    font-size: 29px;
  }
}

.google-reviews img.re {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  @media (min-width: 1600px) {
    width: 200px;
  }
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.off-canvas {
  background-color: $button-green;
  @media (min-width: 426px) and (max-width: 768px) {
    width: 350px !important;
  }
}

.off-canvas-lists {
  padding: 3px 30px;
}

.text-white {
  color: white !important;
}

.hide-on-large-screen {
  display: block;

  @media (min-width: 769px) {
    display: none !important;
  }
}

.hide-on-small-screen {
  display: block;

  @media (max-width: 768px) {
    display: none !important;
  }
}

.nav-link {
  position: relative;
  padding-bottom: 10px;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 46px;
  transform: translateX(-50%);
  width: 1px;
  height: 27px;
  background-color: white;

  @media (min-width: 769px) and (max-width: 1320px) {
    top: 36px !important;
    height: 20px;
  }
  @media (min-width: 1600px) {
    top: 66px !important;
    height: 80px;
  }
}

.strip {
  @include strip(#55733b);
}

.red-strip {
  @include strip($clicked-red);
}

.orange-strip {
  @include strip(#e87635);
}

.internal-navbar-search {
  width: 120px;
  height: 40px;

  @media (max-width: 768px) {
    width: 100%;
    height: 30px;
    padding: 6px 15px;
    margin: 10px;
  }

  @media (min-width: 769px) and (max-width: 1320px) {
    width: 120px !important;
  }

  @media (min-width: 1600px) {
    height: 54px;
    width: 350px !important;
  }
}

.internal-navbar-search::placeholder {
  font-size: 17px;
  font-weight: 600;
  padding-left: 20px;
  color: $button-green;
  padding: 0px 30px;
}

.internal-cart {
  border-radius: 30px;
  background-color: $clicked-red;
  height: 45px;
  width: 45px;
}

.profile {
  font-size: 10px;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: inherit;
}

.breadcrumb-item a {
  text-decoration: none;
  color: inherit;
}

.search-results {
  font: bolder;
  font-size: 40px;
}

.text-small {
  font-size: 10px;
}

.text-w-600 {
  font-weight: 600;
}

.internal-tab {
  font-size: 15px;
  padding: 7px 45px;
  border: 1px solid #f1f1f1 !important;
  cursor: pointer;
  background-color: transparent;
  font-weight: 600;

  &:hover {
    color: black;
    border: none;
    text-decoration: underline;
    background-color: #f1f1f1;
  }
}

.internal-tab.active {
  background-color: #f1f1f1 !important;
  text-decoration: underline;
  font-weight: 600;
  color: black;
  border: none;
}

.view-product {
  background-color: $clicked-red;
  font-size: 14px;
  padding: 6px 30px;
  border-radius: 30px;
  color: white;
  border: none;
  cursor: pointer;
}

.border-y {
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}

.internal-tabs-container {
  gap: 12px;

  @media (min-width: 1440px) and (max-width: 1600px) {
    gap: 62px !important;
  }

  @media (min-width: 1600px) {
    gap: 262px !important;
  }
}

.tabs-padding {
  @media (min-width: 1600px) {
    padding-left: 250px;
    padding-right: 250px;
  }
}

.m-auto {
  margin: auto;
}

.last-images {
  height: 90px;

  @media (min-width: 1024px) and (max-width: 1439px) {
    height: 93px;
  }

  @media (min-width: 1440px) and (max-width: 1600px) {
    height: 110px;
  }

  @media (min-width: 1600px) {
    height: 180px;
  }
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.footer {
  background-color: #073b25;
  font-size: 11px;
}

.footer-logos {
  height: 20px;
  height: 20px;
}

.footer-padding {
  @media (min-width: 426px) and (max-width: 768px) {
    padding: 6px 15px !important;
  }

  @media (min-width: 769px) and (max-width: 1320px) {
    padding: 20px 50px !important;
  }
  @media (min-width: 1320px) and (max-width: 1600px) {
    padding: 25px 160px !important;
  }

  @media (min-width: 1600px) {
    font-size: 14px;
    padding: 25px 380px !important;
  }
}

.mr-l-1 {
  margin-left: 5px;
}

.mr-l-2 {
  margin-left: 10px;
}

.mr-l-3 {
  margin-left: 15px;
}

.mr-l-4 {
  margin-left: 20px;
}

.mr-l-5 {
  margin-left: 25px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 25px;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 15px;
}

.mr-4 {
  margin-right: 20px;
}

.mr-5 {
  margin-right: 25px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 25px;
}

.px-1 {
  padding: 0 5px 0 5px;
}

.px-2 {
  padding: 0 10px 0 10px;
}

.px-3 {
  padding: 0 15px 0 15px;
}

.px-4 {
  padding: 0 20px 0 20px;
}

.px-5 {
  padding: 0 25px 0 25px;
}

// product details

.product-image1 {
  width: 150px !important;
  height: 150px !important;
}

.product-title {
  font-size: 32px;
  @media (min-width: 1600px) {
    font-size: 62px;
  }
}

.products-buttons {
  height: 33px;
  @media (min-width: 1600px) {
    height: 63px;
  }
}

.product-buttons-tab {
  font-weight: 600;
  font-size: 11px;

  @media (min-width: 769px) and (max-width: 1320px) {
    font-size: 9px;
  }
  @media (min-width: 1320px) and (max-width: 1600px) {
    font-size: 11px;
  }

  @media (min-width: 1600px) {
    font-size: 25px;
  }
}

.product-nested-titles {
  font-weight: 600;
  font-size: 16px;
}

.product-nested-description {
  font-weight: 600;
  font-size: 12px;
}

.product-Quantity {
  font-weight: 600;
  font-size: 12px;
  @media (min-width: 1600px) {
    font-size: 18px;
  }
}

.in-stock-button {
  text-align: center;
  font-size: 12px;
  height: 25px;
  width: 85px;
  border-radius: 25px;
  background-color: #073b25;

  @media (min-width: 1600px) {
    height: 45px;
    width: 165px;
    font-size: 22px;
  }
}

.border-none {
  border: none !important;
}

.quantity-selector {
  padding: 1px 6px;
  width: max-content;
  background-color: #e6e9e8;
  @media (min-width: 1600px) {
    padding: 1px 6px;
    font-size: 17px;
  }
}

.add-to-order-button {
  background-color: #c41230;
  padding: 6px 36px;
  border-radius: 30px;
  font-size: 17px;
  border: none;

  @media (min-width: 1600px) {
    padding: 12px 46px;
    font-size: 25px;
  }
}

.product-price {
  font-size: 20px;
  color: #042114;
  font-weight: bold;
  @media (min-width: 1600px) {
    font-size: 30px;
  }
}

.text-center {
  text-align: center !important;
}

.slider-margins {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.pt-4 {
  padding-top: 20px;
}

.text-center {
  text-align: center;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 70%;
  margin: 0 auto;

  @media (min-width: 769px) and (max-width: 1320px) {
    font-size: 12px;
    width: 75%;
  }
}

.slider {
  overflow: hidden;
  flex: 1;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  min-width: 33.33%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  background-color: transparent;
}

.slide img {
  max-width: 100%;
  height: auto;
}

.button-container {
  flex-shrink: 0;
}

button.next {
  display: flex;
  align-items: start !important;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

button.next img {
  width: 100px;
  height: 165px;
}

.view-button {
  background-color: $clicked-red;
  padding: 9px 36px;
  border-radius: 30px;
  font-size: 13px;
  border: none;
}

.detail-page-hover {
  transition: background-color 0.3s ease; /* Smooth transition for the hover effect */
}

.detail-page-hover:hover {
  background-color: #094d30;
  color: white;
  padding: 15px;
}

.slider-background {
  // height: 70vh;
  background-position: center;
  width: 100% !important;
}

.Additional-Items {
  @media (min-width: 1600px) {
    font-size: 60px !important;
    margin: 30px;
    margin-top: 70px;
  }
}

.Based-on-your {
  @media (min-width: 1600px) {
    font-size: 30px !important;
    margin: 30px;
    margin-bottom: 60px;
  }
}

.modal-cross-button {
  background-color: black;
  border-radius: 370px;
  color: white;
  padding: 1px;
  font-size: 30px;
  border: none !important;
}

.modal-body {
  text-align: center;
}

.modal-input {
  width: 300px;
  height: 35px;
  border: none;
  padding: 10px;
  text-align: center;
  font-size: 13px;
  border: 2px solid #bfc6c3;
}

.cart-dropdown {
  width: 190px !important;
  right: 0;
  left: auto;
}

.cart-dropdown::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 15px;
  left: auto;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}

.dropdown-checkout-button {
  background-color: $clicked-red;
  padding: 4px 16px;
  border-radius: 30px;
  font-size: 12px;
  border: none;
  font: bold;
}

.edit-contents-button {
  font-size: 14px;
  padding: 6px 16px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #dd3333;
  color: #dd3333;
  @media (min-width: 1600px) {
    padding: 8px 36px;
    font-size: 25px;
    border-radius: 40px;
  }
}

.product-table {
  border-collapse: separate;
  border-spacing: 0 4px;
  font-weight: 900;
}

.product-table th,
.product-table td {
  padding: 0px 22px 0px 0px;
  text-align: left;
}

.points-button {
  text-align: center;
  font-size: 12px;
  height: 25px;
  width: 90px;
  border-radius: 25px;
  padding: px;
  background-color: transparent;
  border: 1px solid #eff1f1;

  @media (min-width: 1600px) {
    height: 45px;
    width: 165px;
    font-size: 22px;
  }
}

.small-icons {
  width: 17px;
}

.counter-btn {
  font-size: 50px;
  color: $clicked-red;
}

.modal-content {
  width: 78%;
  margin: auto;
  @media (min-width: 1600px) {
    width: 130%;
  }
}

.green-modal-buttons {
  font-size: 13px;
  background-color: transparent;
  border: 1px solid #55733b;
  padding: 10px 20px;
  color: black;

  &:hover {
    background-color: #55733b;
    color: white;
  }
  @media (min-width: 1600px) {
    width: 130%;
  }
}

.cancel-button {
  font-size: 14px;
  padding: 8px 36px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #153d37;
  color: black;

  @media (min-width: 1600px) {
    padding: 8px 36px;
    font-size: 25px;
    border-radius: 40px;
  }
}

.green-buttons-container {
  @media (min-width: 1600px) {
    gap: 300px;
  }
}

.modal-content2 {
  width: 120%;
  margin: auto;
}

.text-center {
  text-align: center;
}

.manage-account-button {
  font-size: 14px;
  padding: 2px 20px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #153d37;
  color: black;

  @media (min-width: 1600px) {
    font-size: 22px;
    border-radius: 40px;
  }
}

.profile-icon {
  width: 35px;
}

.points-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .points-info-table {
    border-collapse: collapse;
    @media (min-width: 1600px) {
      margin-top: 16px;
    }

    td {
      padding: 5px 10px;
    }
  }
}

.points-value {
  font-weight: bold;
  color: #c41230;

  @media (min-width: 1600px) {
    font-size: 20px;
  }
}

.point-button {
  background-color: #c41230;
  padding: 8px 36px;
  border-radius: 30px;
  font-size: 17px;
  border: none;
}

.quantity-table {
  font-size: 12px;
  width: 50%;
  border-collapse: collapse;

  @media (min-width: 1600px) {
    width: 60%;
  }

  td {
    padding: 2px;
  }

  .product-nested-titles {
    margin: 0;
  }

  .points-value {
    margin: 0;
    font-weight: bold;
  }

  .flex-middle {
    display: flex;
    align-items: center;

    .small-icons {
      width: 17px;
      margin-right: 5px;

      @media (min-width: 869px) and (max-width: 1024px) {
        width: 17px;
      }

      @media (min-width: 1025px) and (max-width: 1439px) {
        width: 30px;
      }

      @media (min-width: 1600px) {
        width: 30px;
      }
    }

    .underline {
      text-decoration: underline;
    }
  }
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.setting-icons {
  width: 12px;

  @media (min-width: 1600px) {
    width: 15px;
  }
}

.order-details-product-image {
  width: 250px;
  height: 150px;
  margin: 10px;
}

.order-details-product-image2 {
  width: 250px;
  height: 150px;
  margin: 10px;
}
.pr-1 {
  padding-right: 5px;
}

.pr-2 {
  padding-right: 10px;
}

.pr-3 {
  padding-right: 15px;
}

.pr-4 {
  padding-right: 20px;
}

.pr-5 {
  padding-right: 25px;
}

.text-10 {
  font-size: 10px;
}

.pointsAndShoppingTitle {
  @media (min-width: 1600px) {
    font-size: 65px;
  }
}

.LongUserName {
  @media (min-width: 1600px) {
    font-size: 45px;
  }
}

.order-details-left-side {
  @media (min-width: 1600px) {
    padding: 3px 13px;
  }
}

.authenticated-navbar-portion {
  font-size: 10px;
  @media (min-width: 1600px) {
    font-size: 20px;
  }
}

.empty-selection-button {
  background-color: #073b25;
  border-radius: 40px;
  padding: 3px 12px;
  font-size: 12px;
  color: white;
  height: 26px;
  width: 150px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  font-weight: bold;
  align-items: center;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.remove-btn {
  background-color: white;
  color: black;
  border: none;
  height: 27px;
  padding: 2px 12px;
  border-radius: 13px;
  cursor: pointer;
  font-weight: bold;
}

select {
  border: none;
  margin-left: 0px;
}

.sign {
  font-weight: bolder;
  font-size: 22px;
  margin-left: 8px;
}

.table-container {
  max-width: 300px;
  height: 120px;
  overflow-y: auto;
  background-color: #fff;
  padding-right: 15px;
}

.trap {
  &:nth-child(odd) {
    background-color: #f2f2f2;
  }
  &:nth-child(even) {
    background-color: #e6e6e6;
  }
}

.table-container::-webkit-scrollbar {
  width: 12px;
}

.table-container::-webkit-scrollbar-track {
  background: #ccc;
}

.table-container::-webkit-scrollbar-thumb {
  padding-left: 20px;
  background-color: #888;
  border: 2px solid #ccc;
}

.order-details-edit-modal-content {
  background-color: #fefefe;
  margin: 3% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 800px;
  position: relative;
  text-align: center;
}

.month-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-weight: bolder;
}

.month-nav {
  color: white;
  background-color: #c41230;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 0px 5px;
}

.month-display {
  margin: 30px 10px;
  font-size: 33px;
  font-weight: 600;
}

.week-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.week-option {
  font-size: 13px;
  background-color: white;
  border: 1px solid black;
  padding: 10px 6px;
  margin: 4px 0;
  width: 45%;
  cursor: pointer;
  font-weight: 600;
}

.week-option:hover {
  background-color: #55733b;
  color: white;
}

.disabled {
  background-color: white !important;
  color: #edb7c6 !important;
  border: 1px solid #edb7c6 !important;
  cursor: default !important;
}
