@import "variables";
@import "mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  @font-face {
    font-family: "Open Sans";
    src: url("/assets/css//fonts/Open_Sans/static/OpenSans-Regular.ttf")
      format("truetype");
    font-weight: 400;
  }
  body {
    font-family: "Open Sans", sans-serif;
    background-color: $primary-bg-color;
    font-size: 16px;
  }
  .container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    @media (min-width: 1441px) {
      max-width: 1450px;
    }
    @media (min-width: 2000px) {
      max-width: 1800px;
    }
  }
  li {
    list-style: none;
  }
  .relative {
    position: relative;
  }
  .absolute {
    position: absolute;
  }
  .w-25 {
    width: 25%;
  }
  .w-30 {
    width: 30%;
  }
  .w-50 {
    width: 50%;
  }
  .w-70 {
    width: 70%;
  }
  .w-100 {
    width: 100%;
  }
  .flex-grow {
    flex-grow: 1;
  }
  .border-t {
    border-top-width: 1px;
    border-top-style: solid;
  }
  .border-gray {
    border-color: #8f9191;
  }
}

/////////////////

.banner {
  background-color: primary-bg-color;
  padding: 100px;
  gap: 70px;

  @media (max-width: 768px) {
    padding: 50px 20px;
    gap: 30px;
  }
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-border {
  border: 2px solid #b7b7b7;
}

.navbar {
  background-image: url("/assets/images/Asset 5.png");
  background-size: cover;
  background-position: center;

  @media (min-width: 426px) and (max-width: 768px) {
    padding: 6px 15px;
  }

  @media (min-width: 769px) and (max-width: 1320px) {
    font-size: 12px;
    padding: 10px 50px;
  }
  @media (min-width: 1320px) and (max-width: 1600px) {
    font-size: 18px;
    padding: 10px 140px;
  }

  @media (min-width: 1600px) {
    font-size: 25px;
    padding: 10px 80px;
  }
}

.navbar-logo {
  @media (min-width: 426px) and (max-width: 768px) {
    height: 65px;
    width: 240px !important;
  }

  @media (min-width: 769px) and (max-width: 1320px) {
    height: 43px;
    width: 170px !important;
  }

  @media (min-width: 1320px) and (max-width: 1600px) {
    height: 55px;
    width: 230px !important;
  }

  @media (min-width: 1600px) {
    height: 95px;
    width: 430px !important;
  }
}

.hamburger {
  background-color: $button-green;
  border-radius: 120px;
  padding: 7px 12px;
  color: white;
  font-size: 12px;
  gap: 6px;

  @media (min-width: 769px) {
    display: none;
  }
}

.content-container {
  margin: auto;
  max-width: 1000px;

  @media (max-width: 768px) {
    max-width: 100%;
    padding: 0 10px;
  }
}

.navbar-tab {
  padding: 8px 20px;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    border: 1px solid white;
    background-color: #c41230;
    color: black;
  }

  &:active {
    border: 1px solid white;
    background-color: va;
    color: black;
  }

  @media (min-width: 2000px) {
    padding: 12px 30px;
  }
}

.tabs {
  border: none;
  @media (min-width: 2000px) {
    gap: 50px;
  }
}

.nav-tabs .nav-link.active {
  background-color: blue($color: #000000);
  &.shop {
    background-color: $clicked-red;
  }
  &.about-us {
    background-color: $button-green;
  }
}

.tab-content {
  background-image: url("/assets/images/Asset 6.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  color: white;

  @media (min-width: 769px) and (max-width: 1320px) {
    font-size: 11px;
    padding: 0px 50px;
  }
  @media (min-width: 1320px) and (max-width: 1600px) {
    font-size: 14px;
    padding: 0px 90px;
  }

  @media (min-width: 1600px) {
    font-size: 22px;
    padding: 0px 200px;
  }

  p {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.bg-dropdown-bg-green {
  background-color: #062e1d !important;
  color: white;
}

.form-control::placeholder {
  color: $button-green;
  padding-left: 27px;
  font-weight: bold;

  @media (min-width: 2000px) {
    font-size: 17px;
    margin: 22px;
  }
}

.search-icon {
  position: absolute;
  margin-right: 10px;
  left: 10px;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: $button-green;
  cursor: pointer;

  @media (max-width: 768px) {
    margin: 1px 8px;
  }

  @media (min-width: 1600px) {
    margin: 3px 6px;
    // padding: ;
  }
}

.navbar-search {
  width: 270px;
  height: 35px;

  @media (max-width: 768px) {
    width: 100%;
    height: 30px;
    padding: 6px 15px;
    margin: 10px;
  }

  @media (min-width: 769px) and (max-width: 1320px) {
    width: 200px !important;
  }

  @media (min-width: 2000px) {
    height: 48px;
    width: 350px !important;
  }
}

.cart {
  padding: 12px;
  background-color: $red;
  border-radius: 30px;
  border: 1px solid white;
  cursor: pointer;

  @media (max-width: 768px) {
    padding: 7px;
  }
}

.count {
  font-size: 8px;
  border-radius: 60px;
  padding: 5px;
  background-color: white;
  right: 30px;
  color: red;

  @media (max-width: 425px) {
    font-size: 7px;
    border-radius: 60px;
    padding: 4px;
    right: 1px;
  }

  @media (max-width: 768px) {
    right: 34px;
  }

  @media (min-width: 769px) and (max-width: 1320px) {
    right: 40px;
  }

  @media (min-width: 1320px) and (max-width: 1600px) {
    right: 40px;
  }

  @media (min-width: 2000px) {
    right: 40px;
  }
}

.strip {
  background-color: #55733b;
  font-size: 11px;
  padding: 7px;
  color: #f8f9f7;
  margin: auto;

  @media (max-width: 768px) {
    font-size: 10px;
    padding: 8px;
    text-align: center;
  }
  @media (min-width: 1600px) {
    font-size: 15px;
    padding: 11px;
    text-align: center;
  }
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.homepage-banner {
  background-image: url("/assets/images/Asset 4.png");
  background-size: cover;
  background-position: start;
  position: relative;
  opacity: 2.9;

  @media (max-width: 768px) {
    background-position: center;
  }

  .text-overlay {
    max-width: 350px;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: start;
    display: inline-block;

    @media (max-width: 768px) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      max-width: 90%;
    }
    @media (min-width: 769px) and (max-width: 1320px) {
      max-width: 300px;
    }
    @media (min-width: 1320px) and (max-width: 1600px) {
      max-width: 350px;
    }
    @media (min-width: 1600px) {
      max-width: 600px;
    }
  }
}

.banner-overlay-heading1 {
  font-size: 35px;
  font-weight: 500;

  @media (min-width: 769px) and (max-width: 1320px) {
    font-size: 24px;
  }
  @media (min-width: 1320px) and (max-width: 1600px) {
    font-size: 34px;
  }

  @media (min-width: 1600px) {
    font-size: 65px;
  }
}

.banner-overlay-text {
  font-size: 14px;

  @media (min-width: 769px) and (max-width: 1320px) {
    font-size: 12px;
  }
  @media (min-width: 1320px) and (max-width: 1600px) {
    font-size: 14px;
  }
  @media (min-width: 1600px) {
    font-size: 29px;
  }
}

.banner-overlay-button {
  background-color: #c41230;
  border-radius: 20px;
  color: white;
  font-size: 13px;
  padding: 8px 14px;
  margin-top: 10px;
  border: none;

  @media (max-width: 768px) {
    font-size: 12px;
    padding: 6px 12px;
  }
  @media (min-width: 1600px) {
    border-radius: 50px;
    font-size: 18px;
    width: 230px;
    height: 50px;
  }
}

.google-reviews {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 18px 0 22px 0;

  @media (min-width: 769px) and (max-width: 1320px) {
    justify-content: start;
    padding: 10px 0;
  }

  @media (min-width: 1600px) {
    font-size: 29px;
  }
}

.google-reviews img.re {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  @media (min-width: 1600px) {
    width: 200px;
  }
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.off-canvas {
  background-color: $button-green;
  @media (min-width: 426px) and (max-width: 768px) {
    width: 350px !important;
  }
}

.off-canvas-lists {
  padding: 3px 30px;
}

.text-white {
  color: white !important;
}

.hide-on-large-screen {
  display: block;

  @media (min-width: 769px) {
    display: none !important;
  }
}

.hide-on-small-screen {
  display: block;

  @media (max-width: 768px) {
    display: none !important;
  }
}

.nav-link {
  position: relative;
  padding-bottom: 10px;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 46px;
  transform: translateX(-50%);
  width: 1px;
  height: 27px;
  background-color: white;

  @media (min-width: 769px) and (max-width: 1320px) {
    top: 36px !important;
    height: 20px;
  }
  @media (min-width: 1600px) {
    top: 66px !important;
    height: 80px;
  }
}

//  internal pages

.red-strip {
  background-color: $clicked-red;
  font-size: 11px;
  padding: 7px;
  color: #f8f9f7;
  margin: auto;

  @media (max-width: 768px) {
    font-size: 10px;
    padding: 8px;
    text-align: center;
  }
  @media (min-width: 1600px) {
    font-size: 15px;
    padding: 11px;
    text-align: center;
  }
}

.internal-navbar-search {
  width: 120px;
  height: 40px;

  @media (max-width: 768px) {
    width: 100%;
    height: 30px;
    padding: 6px 15px;
    margin: 10px;
  }

  @media (min-width: 769px) and (max-width: 1320px) {
    width: 200px !important;
  }

  @media (min-width: 2000px) {
    height: 48px;
    width: 350px !important;
  }
}

.internal-navbar-search::placeholder {
  font-size: 17px;
  font-weight: 600;
  padding-left: 20px;
  color: $button-green;
  padding: 0px 30px;
}

.internal-cart {
  border-radius: 30px;
  background-color: $clicked-red;
  height: 45px;
  width: 45px;
}

.profile {
  font-size: 10px;
  // height: 60px;
}
