@font-face {
  font-family: "Open Sans";
  src: url("/assets/css//fonts/Open_Sans/static/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url("/assets/css//fonts/Open_Sans/static/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
/*====== font-size values ======*/
.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-30 {
  font-size: 30px;
}

.fs-50 {
  font-size: 50px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-12 {
  padding: 12px;
}

.p-16 {
  padding: 16px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-30 {
  padding: 30px;
}

.p-40 {
  padding: 40px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-12 {
  padding-top: 12px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-12 {
  padding-right: 12px;
}

.pr-16 {
  padding-right: 16px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-40 {
  padding-right: 40px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-12 {
  padding-left: 12px;
}

.pl-16 {
  padding-left: 16px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-40 {
  padding-left: 40px;
}

/*====== margin values ======*/
.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-12 {
  margin: 12px;
}

.m-16 {
  margin: 16px;
}

.m-20 {
  margin: 20px;
}

.m-25 {
  margin: 25px;
}

.m-30 {
  margin: 30px;
}

.m-40 {
  margin: 40px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

/*====== Display flex values ======*/
.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-direction: wrap;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-stretch {
  align-self: stretch;
}

@media screen and (max-width: 767px) {
  .flex-row-sm {
    flex-direction: row;
  }
  .flex-row-reverse-sm {
    flex-direction: row-reverse;
  }
  .flex-column-sm {
    flex-direction: column;
  }
  .flex-wrap-sm {
    flex-direction: wrap;
  }
  .flex-column-reverse-sm {
    flex-direction: column-reverse;
  }
  .w-sm-25 {
    width: 25%;
  }
  .w-sm-50 {
    width: 50%;
  }
  .w-sm-75 {
    width: 75%;
  }
  .w-sm-100 {
    width: 100%;
  }
  .top-sm-25 {
    top: 25%;
  }
  .top-sm-50 {
    top: 50%;
  }
  .top-sm-75 {
    top: 75%;
  }
  .top-sm-100 {
    top: 100%;
  }
  .fs-30-sm {
    font-size: 30px;
    font-size: 30 px;
  }
  .fs-50-sm {
    font-size: 50px;
    font-size: 24 px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .flex-row-md {
    flex-wrap: row;
  }
  .flex-row-reverse-md {
    flex-wrap: row-reverse;
  }
  .flex-column-md {
    flex-wrap: column;
  }
  .flex-wrap-md {
    flex-wrap: wrap;
  }
  .flex-column-reverse-md {
    flex-wrap: column-reverse;
  }
  .top-md-25 {
    top: 25%;
  }
  .top-md-50 {
    top: 50%;
  }
  .top-md-75 {
    top: 75%;
  }
  .top-md-100 {
    top: 100%;
  }
}
@media screen and (min-width: 993px) {
  .top-lg-25 {
    top: 25%;
  }
  .top-lg-50 {
    top: 50%;
  }
  .top-lg-75 {
    top: 75%;
  }
  .top-lg-100 {
    top: 100%;
  }
}
/*======height values======*/
.h-30 {
  height: 30px;
}

.h-40 {
  height: 40px;
}

.h-60 {
  height: 60px;
}

.h-130 {
  height: 130px;
}

.h-150 {
  height: 150px;
}

.h-190 {
  height: 190px;
}

.h-200 {
  height: 200px;
}

.h-210 {
  height: 210px;
}

.h-550 {
  height: 550px;
}

/*======width values======*/
.w-20 {
  width: 20px;
}

.w-40 {
  width: 40px;
}

.w-110 {
  width: 110px;
}

.w-160 {
  width: 160px;
}

.w-200 {
  width: 200px;
}

.w-400 {
  width: 400px;
}

/*======gap values======*/
.gap-1 {
  gap: 1px;
}

.gap-2 {
  gap: 2px;
}

.gap-3 {
  gap: 3px;
}

.gap-4 {
  gap: 4px;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

.gap-50 {
  gap: 50px;
}

/*====== font-weight ======*/
.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.font-900 {
  font-weight: 900;
}

/*======colors values======*/
.navbar-tab {
  padding: 8px 20px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}
.navbar-tab.shop:hover:hover, .navbar-tab.shop.show:hover {
  border: 1px solid white;
  background-color: #c41230;
  color: black;
}
.navbar-tab.about-us:hover:hover, .navbar-tab.about-us.show:hover {
  border: 1px solid white;
  background-color: #073b25;
  color: black;
}
.navbar-tab.sign-up:hover:hover, .navbar-tab.sign-up.show:hover {
  border: 1px solid white;
  background-color: #7b5120;
  color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Open Sans";
  src: url("/assets/css//fonts/Open_Sans/static/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
* body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  font-size: 16px;
}
* .container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 1441px) {
  * .container {
    max-width: 1450px;
  }
}
@media (min-width: 2000px) {
  * .container {
    max-width: 1800px;
  }
}
* li {
  list-style: none;
}
* .relative {
  position: relative;
}
* .absolute {
  position: absolute;
}
* .w-25 {
  width: 25%;
}
* .w-30 {
  width: 30%;
}
* .w-50 {
  width: 50%;
}
* .w-70 {
  width: 70%;
}
* .w-100 {
  width: 100%;
}
* .flex-grow {
  flex-grow: 1;
}
* .border-t {
  border-top-width: 1px;
  border-top-style: solid;
}
* .border-gray {
  border-color: #8f9191;
}

.banner {
  background-color: primary-bg-color;
  padding: 100px;
  gap: 70px;
}
@media (max-width: 768px) {
  .banner {
    padding: 50px 20px;
    gap: 30px;
  }
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-border {
  border: 2px solid #b7b7b7;
}

.navbar {
  background-image: url("/assets/images/Asset 5.png");
  background-size: cover;
  background-position: center;
}
@media (min-width: 426px) and (max-width: 768px) {
  .navbar {
    padding: 6px 15px;
  }
}
@media (min-width: 769px) and (max-width: 1320px) {
  .navbar {
    font-size: 12px;
    padding: 10px 50px;
  }
}
@media (min-width: 1320px) and (max-width: 1600px) {
  .navbar {
    font-size: 18px;
    padding: 10px 140px;
  }
}
@media (min-width: 1600px) {
  .navbar {
    font-size: 25px;
    padding: 10px 80px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .navbar-logo {
    height: 65px;
    width: 240px !important;
  }
}
@media (min-width: 769px) and (max-width: 1320px) {
  .navbar-logo {
    height: 43px;
    width: 170px !important;
  }
}
@media (min-width: 1320px) and (max-width: 1600px) {
  .navbar-logo {
    height: 55px;
    width: 230px !important;
  }
}
@media (min-width: 1600px) {
  .navbar-logo {
    height: 95px;
    width: 430px !important;
  }
}

.hamburger {
  background-color: #073b25;
  border-radius: 120px;
  padding: 7px 12px;
  color: white;
  font-size: 12px;
  gap: 6px;
}
@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
}

.text-bold {
  font-weight: bold;
}

.text-bolder {
  font-weight: bolder;
}

.text-boldest {
  font-weight: 900;
}

@media (min-width: 426px) and (max-width: 768px) {
  .content-container {
    padding: 6px 15px;
  }
}
@media (min-width: 769px) and (max-width: 1320px) {
  .content-container {
    font-size: 12px;
    padding: 10px 50px;
  }
}
@media (min-width: 1320px) and (max-width: 1600px) {
  .content-container {
    font-size: 18px;
    padding: 10px 160px;
  }
}
@media (min-width: 1600px) {
  .content-container {
    font-size: 25px;
    padding: 10px 80px;
  }
}

.text-black {
  color: black;
}

.navbar-tab {
  padding: 8px 20px;
  background-color: transparent;
  cursor: pointer;
}
.navbar-tab:hover {
  border: 1px solid white;
  background-color: #c41230;
  color: black;
}
.navbar-tab:active {
  border: 1px solid white;
  background-color: va;
  color: black;
}
@media (min-width: 2000px) {
  .navbar-tab {
    padding: 12px 30px;
  }
}

.tabs {
  border: none;
}
@media (min-width: 2000px) {
  .tabs {
    gap: 50px;
  }
}

.nav-tabs .nav-link.active {
  background-color: 0;
}
.nav-tabs .nav-link.active.shop {
  background-color: #af102b;
}
.nav-tabs .nav-link.active.about-us {
  background-color: #073b25;
}

.navbar__tab__content {
  background-image: url("/assets/images/Asset 6.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  color: white;
}
@media (min-width: 769px) and (max-width: 1320px) {
  .navbar__tab__content {
    font-size: 11px;
    padding: 0px 50px;
  }
}
@media (min-width: 1320px) and (max-width: 1600px) {
  .navbar__tab__content {
    font-size: 14px;
    padding: 0px 90px;
  }
}
@media (min-width: 1600px) {
  .navbar__tab__content {
    font-size: 22px;
    padding: 0px 200px;
  }
}
.navbar__tab__content p {
  cursor: pointer;
}
.navbar__tab__content p:hover {
  text-decoration: underline;
}

.bg-dropdown-bg-green {
  background-color: #062e1d !important;
  color: white;
}

.form-control::-moz-placeholder {
  color: #073b25;
  padding-left: 27px;
  font-weight: bold;
}

.form-control::placeholder {
  color: #073b25;
  padding-left: 27px;
  font-weight: bold;
}
@media (min-width: 2000px) {
  .form-control::-moz-placeholder {
    font-size: 17px;
    margin: 22px;
  }
  .form-control::placeholder {
    font-size: 17px;
    margin: 22px;
  }
}

.search-icon {
  position: absolute;
  margin-right: 10px;
  left: 10px;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #073b25;
  cursor: pointer;
}
@media (max-width: 768px) {
  .search-icon {
    margin: 1px 8px;
  }
}
@media (min-width: 1600px) {
  .search-icon {
    margin: 3px 6px;
  }
}

.navbar-search {
  width: 270px;
  height: 35px;
}
@media (max-width: 768px) {
  .navbar-search {
    width: 100%;
    height: 30px;
    padding: 6px 15px;
    margin: 10px;
  }
}
@media (min-width: 769px) and (max-width: 1320px) {
  .navbar-search {
    width: 200px !important;
  }
}
@media (min-width: 2000px) {
  .navbar-search {
    height: 48px;
    width: 350px !important;
  }
}

.cart {
  padding: 12px;
  background-color: #c41230;
  border-radius: 30px;
  border: 1px solid white;
  cursor: pointer;
}
@media (max-width: 768px) {
  .cart {
    padding: 7px;
  }
}

.count {
  font-size: 8px;
  border-radius: 60px;
  padding: 5px;
  background-color: white;
  right: 30px;
  color: red;
}
@media (max-width: 425px) {
  .count {
    font-size: 7px;
    border-radius: 60px;
    padding: 4px;
    right: 1px;
  }
}
@media (max-width: 768px) {
  .count {
    right: 34px;
  }
}
@media (min-width: 769px) and (max-width: 1320px) {
  .count {
    right: 40px;
  }
}
@media (min-width: 1320px) and (max-width: 1600px) {
  .count {
    right: 40px;
  }
}
@media (min-width: 2000px) {
  .count {
    right: 40px;
  }
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.homepage-banner {
  background-image: url("/assets/images/Asset 4.png");
  background-size: cover;
  background-position: start;
  position: relative;
  opacity: 2.9;
}
@media (max-width: 768px) {
  .homepage-banner {
    background-position: center;
  }
}
.homepage-banner .text-overlay {
  max-width: 350px;
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: start;
  display: inline-block;
}
@media (max-width: 768px) {
  .homepage-banner .text-overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 90%;
  }
}
@media (min-width: 769px) and (max-width: 1320px) {
  .homepage-banner .text-overlay {
    max-width: 300px;
  }
}
@media (min-width: 1320px) and (max-width: 1600px) {
  .homepage-banner .text-overlay {
    max-width: 350px;
  }
}
@media (min-width: 1600px) {
  .homepage-banner .text-overlay {
    max-width: 600px;
  }
}

.banner-overlay-heading1 {
  font-size: 35px;
  font-weight: 500;
}
@media (min-width: 769px) and (max-width: 1320px) {
  .banner-overlay-heading1 {
    font-size: 24px;
  }
}
@media (min-width: 1320px) and (max-width: 1600px) {
  .banner-overlay-heading1 {
    font-size: 34px;
  }
}
@media (min-width: 1600px) {
  .banner-overlay-heading1 {
    font-size: 65px;
  }
}

.banner-overlay-text {
  font-size: 14px;
}
@media (min-width: 769px) and (max-width: 1320px) {
  .banner-overlay-text {
    font-size: 12px;
  }
}
@media (min-width: 1320px) and (max-width: 1600px) {
  .banner-overlay-text {
    font-size: 14px;
  }
}
@media (min-width: 1600px) {
  .banner-overlay-text {
    font-size: 29px;
  }
}

.banner-overlay-button {
  background-color: #c41230;
  border-radius: 20px;
  color: white;
  font-size: 13px;
  padding: 8px 14px;
  margin-top: 10px;
  border: none;
}
@media (max-width: 768px) {
  .banner-overlay-button {
    font-size: 12px;
    padding: 6px 12px;
  }
}
@media (min-width: 1600px) {
  .banner-overlay-button {
    border-radius: 50px;
    font-size: 18px;
    width: 230px;
    height: 50px;
  }
}

.google-reviews {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 18px 0 22px 0;
}
@media (min-width: 769px) and (max-width: 1320px) {
  .google-reviews {
    justify-content: start;
    padding: 10px 0;
  }
}
@media (min-width: 1600px) {
  .google-reviews {
    font-size: 29px;
  }
}

.google-reviews img.re {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@media (min-width: 1600px) {
  .google-reviews img.re {
    width: 200px;
  }
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.off-canvas {
  background-color: #073b25;
}
@media (min-width: 426px) and (max-width: 768px) {
  .off-canvas {
    width: 350px !important;
  }
}

.off-canvas-lists {
  padding: 3px 30px;
}

.text-white {
  color: white !important;
}

.hide-on-large-screen {
  display: block;
}
@media (min-width: 769px) {
  .hide-on-large-screen {
    display: none !important;
  }
}

.hide-on-small-screen {
  display: block;
}
@media (max-width: 768px) {
  .hide-on-small-screen {
    display: none !important;
  }
}

.nav-link {
  position: relative;
  padding-bottom: 10px;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 46px;
  transform: translateX(-50%);
  width: 1px;
  height: 27px;
  background-color: white;
}
@media (min-width: 769px) and (max-width: 1320px) {
  .nav-link.active::after {
    top: 36px !important;
    height: 20px;
  }
}
@media (min-width: 1600px) {
  .nav-link.active::after {
    top: 66px !important;
    height: 80px;
  }
}

.strip {
  background-color: #55733b;
  font-size: 11px;
  padding: 7px;
  color: #f8f9f7;
  margin: auto;
}
@media (max-width: 768px) {
  .strip {
    font-size: 10px;
    padding: 8px;
    text-align: center;
  }
}
@media (min-width: 1600px) {
  .strip {
    font-size: 15px;
    padding: 11px;
    text-align: center;
  }
}

.red-strip {
  background-color: #af102b;
  font-size: 11px;
  padding: 7px;
  color: #f8f9f7;
  margin: auto;
}
@media (max-width: 768px) {
  .red-strip {
    font-size: 10px;
    padding: 8px;
    text-align: center;
  }
}
@media (min-width: 1600px) {
  .red-strip {
    font-size: 15px;
    padding: 11px;
    text-align: center;
  }
}

.orange-strip {
  background-color: #e87635;
  font-size: 11px;
  padding: 7px;
  color: #f8f9f7;
  margin: auto;
}
@media (max-width: 768px) {
  .orange-strip {
    font-size: 10px;
    padding: 8px;
    text-align: center;
  }
}
@media (min-width: 1600px) {
  .orange-strip {
    font-size: 15px;
    padding: 11px;
    text-align: center;
  }
}

.internal-navbar-search {
  width: 120px;
  height: 40px;
}
@media (max-width: 768px) {
  .internal-navbar-search {
    width: 100%;
    height: 30px;
    padding: 6px 15px;
    margin: 10px;
  }
}
@media (min-width: 769px) and (max-width: 1320px) {
  .internal-navbar-search {
    width: 200px !important;
  }
}
@media (min-width: 2000px) {
  .internal-navbar-search {
    height: 48px;
    width: 350px !important;
  }
}

.internal-navbar-search::-moz-placeholder {
  font-size: 17px;
  font-weight: 600;
  padding-left: 20px;
  color: #073b25;
  padding: 0px 30px;
}

.internal-navbar-search::placeholder {
  font-size: 17px;
  font-weight: 600;
  padding-left: 20px;
  color: #073b25;
  padding: 0px 30px;
}

.internal-cart {
  border-radius: 30px;
  background-color: #af102b;
  height: 45px;
  width: 45px;
}

.profile {
  font-size: 10px;
}

.breadcrumb {
  color: black;
  border-bottom: black 1px solid !important;
}

.bread {
  font-size: 11px;
  color: black;
  cursor: pointer;
}
.bread:active {
  text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: inherit;
}

.breadcrumb-item a {
  text-decoration: none;
  color: inherit;
}

.search-results {
  font: bolder;
  font-size: 40px;
}

.text-small {
  font-size: 10px;
}

.text-w-600 {
  font-weight: 600;
}

.internal-tab {
  font-size: 15px;
  padding: 7px 45px;
  border: 1px solid #f1f1f1 !important;
  cursor: pointer;
  background-color: transparent;
  font-weight: 600;
}
.internal-tab:hover {
  color: black;
  border: none;
  text-decoration: underline;
  background-color: #f1f1f1;
}

.internal-tab.active {
  background-color: #f1f1f1 !important;
  text-decoration: underline;
  font-weight: 600;
  color: black;
  border: none;
}

.product-image {
  width: 150px;
  height: 150px;
}

.view-product {
  background-color: #af102b;
  font-size: 14px;
  padding: 6px 30px;
  border-radius: 30px;
  color: white;
  border: none;
  cursor: pointer;
}

.border-y {
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}

.internal-tabs-container {
  gap: 12px;
}
@media (min-width: 1440px) and (max-width: 1600px) {
  .internal-tabs-container {
    gap: 62px !important;
  }
}
@media (min-width: 1600px) {
  .internal-tabs-container {
    gap: 262px !important;
  }
}

@media (min-width: 1600px) {
  .tabs-padding {
    padding-left: 300px;
    padding-right: 300px;
  }
}

.m-auto {
  margin: auto;
}

.last-images {
  height: 90px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .last-images {
    height: 93px;
  }
}
@media (min-width: 1440px) and (max-width: 1600px) {
  .last-images {
    height: 110px;
  }
}
@media (min-width: 1600px) {
  .last-images {
    height: 180px;
  }
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.footer {
  background-color: #073b25;
  font-size: 11px;
}

.footer-logos {
  height: 20px;
  height: 20px;
}

@media (min-width: 426px) and (max-width: 768px) {
  .footer-padding {
    padding: 6px 15px !important;
  }
}
@media (min-width: 769px) and (max-width: 1320px) {
  .footer-padding {
    padding: 10px 50px !important;
  }
}
@media (min-width: 1320px) and (max-width: 1600px) {
  .footer-padding {
    padding: 10px 160px !important;
  }
}
@media (min-width: 1600px) {
  .footer-padding {
    font-size: 14px;
    padding: 10px 380px !important;
  }
}/*# sourceMappingURL=style.css.map */